<div class="container-fluid">
    <div class="full-height row justify-content-center align-items-center">
        <div class="ingreso">
            @if (ViewBag.Exito != null)
            {
                <div class="alert alert-success alert-popup show full-width">
                    <p>@ViewBag.Exito</p>
                </div>
            }

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger alert-popup show full-width">
                    <p>@ViewBag.Error</p>
                </div>
            }
            <div class="row contenedor-login flex-column-reverse flex-md-row">
                <div class="col-12 col-md-6 login">

                    <h1 class="mb-5">LOGIN</h1>

                    <form method="post" action="~/Usuarios/LoginIngresar">
                        <div class="form-group mb-3">
                            <input type="email" name="Email" id="Email" aria- placeholder="name@example.com">
                        </div>
                        <div class="form-group">
                            <input type="password" name="Pass" id="Pass" aria- placeholder="Password">
                        </div>
                        <button type="submit" class="btn-violeta full-width mt-5 mb-3">LOGIN</button>
                    </form>

                    <p class="mb-0">¿Aún no tenes cuenta? Registrate <strong><a href="~/Usuarios/RegistrarCliente">aquí</a></strong></p>
                </div>

                <div class="col-12 col-md-6 flex-column justify-content-between">

                    <div class="row flex-column justify-content-between login-info">
                        <div class="text-end">
                            <span class="d-block">obligatorio</span>
                            <span class="d-block mb-5 mb-md-0">PROGRAMACIÓN 2</span>
                        </div>
                        <div>
                            <p class="mb-0 mb-md-3">Fabián Antúnez - 339182<br>Grupo: N2D</p>
                            <p class="mb-0 d-none d-md-block">Docente: Lucas Lopez<br>Analista Programador</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>