Diagrama UML.asta.lock

# Visual Studio
######################
.vs/
*.suo
*.user
*.userosscache
*.userprefs
*.lnk
*.ide

# Archivos de compilación y publicación
######################
src/**/bin/
src/**/obj/
debug/
release/
TestResults/
publish/
artifacts/