@using LogicaNegocio;
@model Venta;

<h1>@Model.Nombre</h1>
<p>Publicado el @Model.FechaPublicacion</p>
@if (Model.EnOferta)
{
    <p>En oferta</p>
}
<p>$ @Model.CalcularPrecio()</p>
<form method="post">
    <input type="hidden" value="@Model.Id" name="id" id="id"></input>
    <input type="hidden" value="Compra realizada con exito." name="mensaje" id="mensaje"></input>
    <button type="submit" class="btn btn-primary">Comprar</button>
</form>

<h2>Articulos</h2>


