<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Obligatorio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Obligatorio.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column justify-content-between">
    <header>
        @if (!string.IsNullOrEmpty(Context.Session.GetString("email")))
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 py-4">
                <div class="container-lg">
                    @if (Context.Session.GetString("rol") == "Cliente")
                    {
                        <a asp-area="" asp-controller="Publicaciones" asp-action="Index" class="navbar-brand hola">hola <span>@Context.Session.GetString("nombre").ToUpper()</span></a>
                    }
                    else if (Context.Session.GetString("rol") == "Administrador")
                    {
                        <a asp-area="" asp-controller="Subastas" asp-action="Index" class="navbar-brand hola">hola <span>@Context.Session.GetString("nombre").ToUpper()</span></a>
                    }
                    <div class="d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 gap-3 justify-content-end">
                            @if (Context.Session.GetString("rol") == "Cliente")
                            {
                                <li class="nav-item">
                                    <a class="d-none d-md-flex nav-link btn-violeta btn-icono align-items-center rounded-pill" asp-area="" asp-controller="Usuarios" asp-action="CargarSaldo">
                                        <img class="icono me-2" src="~/img/icons/cash.png" alt="Cash icon">
                                        <p class="mb-0">CARGAR SALDO</p>
                                    </a>
                                    <a class="d-md-none d-flex nav-link btn-violeta btn-icono align-items-center rounded-pill" asp-area="" asp-controller="Usuarios" asp-action="CargarSaldo">
                                        <img class="icono" src="~/img/icons/cash.png" alt="Cash icon">
                                    </a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="d-none d-md-flex nav-link btn-dark btn-icono align-items-center rounded-pill" asp-area="" asp-controller="Usuarios" asp-action="Login">
                                    <img class="icono me-2" src="~/img/icons/logout.png" alt="Logout icon">
                                    <p class="mb-0">LOGOUT</p>
                                </a>
                                <a class="d-md-none d-flex nav-link btn-dark btn-icono align-items-center rounded-pill" asp-area="" asp-controller="Usuarios" asp-action="Login">
                                    <img class="icono" src="~/img/icons/logout.png" alt="Logout icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>

    <div class="contenido container-fluid mb-3">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @if (!string.IsNullOrEmpty(Context.Session.GetString("email")))
    {
        <footer>
            <div class="container">
                &copy; 2024 - Fabián Antúnez - 339182
            </div>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
