* {
    //border: 1px solid red;
}

:root {
    --gris-950: #262626;
    --gris-900: #3D3D3D;
    --gris-600: #5D5D5D;
    --gris-200: #D1D1D1;
    --gris-50: #F6F6F6;
    --violeta-500: #7E42FF;
    --violeta-400: #A585FF;
    --verde-400: #CBF625;
    --verde-600: #85B100;
    --blanco: white;
    --font-family-contnido: "Quicksand";
    --font-family-titulo: "Quicksand";
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-size-28: 28px;
    --font-size-24: 24px;
    --font-size-20: 20px;
    --font-size-14: 14px;
    --radius-16: 16px;
    --radius-8: 8px;
}

/* fuentes */
@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand.ttf) format('truetype');
    font-style: normal;
}

body {
    background-color: var(--gris-200);
    font-family: var(--font-family-contnido);
    font-weight: var(--font-weight-medium);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.full-height {
    height: 100vh;
}

.full-width {
    width: 100%;
}

.ingreso {
    max-width: 800px;
    background-color: white;
}

.alert-popup {
    position: absolute;
    top: -100px; /* Comienza fuera de la pantalla */
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    opacity: 0; /* Oculto al inicio */
    transition: all 0.5s ease-in-out; /* Transición suave */
    z-index: 10;
}

    /* Cuando la alerta es visible */
    .alert-popup.show {
        top: 0px; /* Posición final deseada */
        opacity: 1; /* Se hace visible */
    }

/* Añadir animación de deslizamiento */
@keyframes slideDown {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

.alert-popup.show {
    animation: slideDown 0.5s ease-in-out;
}

/*Login*/
.contenedor-login {
    background-color: var(--gris-950);
}

.login {
    background-color: var(--blanco);
    padding: 96px 40px;
}

h1 {
    font-size: var(--font-size-24);
}

.contenedor-login,
.login,
.ingreso {
    border-radius: var(--radius-16);
}

input {
    width: 100%;
    padding: 8px 16px;
    border: solid 1px var(--gris-950);
    border-radius: var(--radius-8);
}

.btn-dark {
    padding: 8px 24px;
    border: 2px solid var(--gris-900);
    color: var(--blanco);
    background-color: var(--gris-900);
    font-weight: var(--font-weight-semi-bold);
    transition: all 0.2s;
}

    .btn-dark:active {
        border: 2px solid var(--gris-600);
        background-color: var(--gris-600);
        color: var(--blanco);
    }

@media (hover: hover) and (pointer: fine) {
    .btn-dark:hover {
        border: 2px solid var(--gris-600);
        background-color: var(--gris-600);
        color: var(--blanco);
    }
}

.btn-violeta {
    padding: 8px 24px;
    border: 2px solid var(--violeta-500);
    color: var(--blanco);
    background-color: var(--violeta-500);
    font-weight: var(--font-weight-semi-bold);
    transition: all 0.2s;
}

    .btn-violeta:active {
        border: 2px solid var(--violeta-400);
        background-color: var(--violeta-400);
        color: var(--blanco);
    }

@media (hover: hover) and (pointer: fine) {
    .btn-violeta:hover {
        border: 2px solid var(--violeta-400);
        background-color: var(--violeta-400);
        color: var(--blanco);
    }
}

.btn-violeta-3 {
    padding: 8px 16px;
    border: 0px;
    color: var(--violeta-500);
    background-color: transparent;
    font-weight: var(--font-weight-semi-bold);
    transition: all 0.2s;
}


    .btn-violeta-3:active {
        border: 0px;
        color: var(--violeta-400);
    }

@media (hover: hover) and (pointer: fine) {
    .btn-violeta-3:hover {
        border: 0px;
        color: var(--violeta-400);
    }
}

a {
    color: var(--violeta-500);
}

.login-info {
    height: 100%;
    padding: 72px 48px;
}

.registrate .login {
    padding: 64px 40px;
}

.login-info span {
    color: var(--verde-400);
    font-size: var(--font-size-28);
}

    .login-info span:first-child {
        font-size: var(--font-size-20);
    }

.login-info p {
    color: var(--gris-50);
    font-weight: var(--font-weight-regular);
}

@media screen and (max-width: 768px) {
    .login-info {
        padding: 40px;
    }
}

.navbar {
    background-color: var(--gris-50);
}

.hola {
    color: var(--gris-950) !important;
    text-decoration: none !important;
    font-size: var(--font-size-28);
}

.navbar-brand span {
    color: var(--violeta-500);
    font-weight: var(--font-weight-semi-bold);
}

.navbar .icono {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.btn-icono {
    padding: 8px 16px !important;
    font-weight: var(--font-weight-medium);
}

@media screen and (max-width: 768px){
    .btn-icono {
        padding: 16px !important;
    }
}

.navbar-nav {
    flex-direction: row !important;
}
